Source: mcrypt
Section: utils
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: RISKO Gergely <risko@debian.org>
Standards-Version: 3.6.1.1
Build-Depends: libmcrypt-dev (>= 2.5.7-2), libmhash-dev (>= 0.8.16-1), debhelper, libltdl3-dev, zlib1g-dev, automake1.7, bzip2

Package: mcrypt
Architecture: any
Depends: ${shlibs:Depends}
Description: Replacement for old unix crypt(1)
 mcrypt is a crypting program, intended to be replacement for the old
 unix crypt(1).  But it can do a lot more, since with its libmcrypt
 library it can encrypt and decrypt with the following alogirhtms:
 BLOWFISH, TWOFISH, DES, TripleDES, 3-WAY, SAFER-sk64, SAFER-sk128,
 SAFER+, OKI97, GOST, RC2, RC6, MARS, IDEA, RIJNDAEL-128,
 RIJNDAEL-192, SERPENT, RIJNDAEL-256, CAST-128 (known as CAST5),
 CAST-256, ARCFOUR, ENIGMA, PANAMA, XTEA and WAKE.
 .
 More information can be found at the mcrypt homepage
 http://mcrypt.sourceforge.net/ .

